# Database Configuration
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/automated-gains?retryWrites=true&w=majority

# NextAuth Configuration
# Run `openssl rand -base64 32` to generate a secret key
NEXTAUTH_SECRET=your_nextauth_secret_key_here
NEXTAUTH_URL=http://localhost:3000

# Custom Access Flow Configuration
# Run `openssl rand -base64 32` or similar to generate a JWT secret
JWT_SECRET=your_jwt_secret_key_for_payonaire_flow

# Resend Email Configuration
RESEND_API_KEY=re_123456789
EMAIL_FROM=onboarding@resend.dev
RESEND_ACTIVATION_TEMPLATE_ID=template_activation_uuid
RESEND_RESEND_TEMPLATE_ID=template_resend_uuid

# Application URL
APP_URL=http://localhost:3000